// ***** COLORS *****
$c-blue-text: #2eb9ff;

$c-blue-light: #20d0ff;
$c-blue: #24c8ff;
$c-blue-dark: #30b3ff;

$c-white: #fff;
// ----------------------------------------------

// ***** FONT WEIGHTS *****
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// ----------------------------------------------

// ***** FONT SIZES *****
$fs-base: 1.6rem;
